# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/
.venv/

# Ignore Odoo log files
*.log
*.log.*

# Ignore compiled assets
*.mo

# Ignore IDE/editor config
.idea/
.vscode/
